body {
  font-size: 1rem;
}

textarea {
  padding: 10px;
  line-height: 1.5;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px #999;
}

button {
  border: 0;
  line-height: 2.5;
  padding: 0 10px;
  text-align: center;
  color: #777;
  border-radius: 5px;
  background-color: white;
  border: 1px solid #777;
  cursor: pointer;
}
